<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-picture-loader"
        version="1.0.0">

    <name>Riya Album Loader</name>
    <description>Cordova Plugin To Load Albums</description>

  <js-module src="www/RiyaAlbumLoader.js" name="RiyaAlbumLoader">
    <clobbers target="cordova.plugins.RiyaAlbumLoader" />
</js-module>

    

    <!-- Add other platforms as needed -->


    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RiyaAlbumLoader">
                <param name="android-package" value="com.example.RiyaAlbumLoader"/>
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/RiyaAlbumLoader.java" target-dir="src/com/example" />
    </platform>

</plugin>
