<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-picture-loader"
    version="0.0.1">
    <name>PictureLoader</name>
    <description>A Cordova plugin to load pictures from albums</description>
    <license>MIT</license>
    <keywords>cordova,picture,loader</keywords>

    <!-- android platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RiyaAlbumLoader">
                <param name="android-package" value="com.example.RiyaAlbumLoader"/>
            </feature>
        </config-file>

        <source-file src="src/android/RiyaAlbumLoader.java" target-dir="src/com/example" />
        <js-module name="RiyaAlbumLoader" src="www/RiyaAlbumLoader.js">
            <clobbers target="cordova.plugins.RiyaAlbumLoader" />
        </js-module>
    </platform>
</plugin>
